name: Workflow A
on: 
 workflow_dispatch:
 push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Do something
        run: echo "Workflow A completed"
