name: Workflow A
on: 
 workflow_dispatch:
 push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: peter-evans/repository-dispatch@v2
        run: echo "Workflow A completed"
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            event-type: trigger-workflow-b
        

  

  
